  
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Space+Mono&display=swap");

body {
  font-family: "Inconsolata", monospace;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 20px 1fr 20px;
}

.header {
  padding: 25px 50px;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  box-sizing: border-box;
}

.content {
  max-width: 1124px;
  width: 100%;
  margin: 0 auto;
  margin-top: 64px;
  display: flex;
  align-items: center;
}

.404notfound-image {
  width: 100%;
  max-width: 539px;
}

.404notfound-message {
  width: 100%;
  max-width: 546px;
}

.content h2 {
  font-size: 64px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.035em;
  
  line-height: 95px;
}

.content p {
  width: 100%;
  max-width: 381px;
  height: 172px;
  font-size: 18px;
  font-family: "Space Mono", monospace;
  color: #4f4f4f;
  line-height: 36px;
  letter-spacing: -0.035em;
}

.content .btn {
  width: 216px;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  border: 0;
  font-family: Space Mono;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.035em;
}

.footer {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .header {
    padding: 10px 2.5rem;
  }
  .content {
    width: 100%;
    flex-direction: column;
    padding: 0 2.5rem;
    box-sizing: border-box;
  }

  .404notfound-message {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .404notfound-message h2 {
    font-size: 48px;
    text-align: center;
  }

  .404notfound-image {
    text-align: center;
  }

  .404notfound-image img {
    max-width: 80%;
  }

  .content .btn {
    align-self: flex-start;
  }
  
  
}